<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Controlador</servlet-name>
        <servlet-class>controlador.Controlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorCategoria</servlet-name>
        <servlet-class>controlador.ControladorCategoria</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorIniciarSalir</servlet-name>
        <servlet-class>controlador.ControladorIniciarSalir</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorExperiencia</servlet-name>
        <servlet-class>ControladorExperiencia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorOpinion</servlet-name>
        <servlet-class>controlador.ControladorOpinion</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Controlador</servlet-name>
        <url-pattern>/Controlador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorCategoria</servlet-name>
        <url-pattern>/ControladorCategoria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorIniciarSalir</servlet-name>
        <url-pattern>/ControladorIniciarSalir</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorExperiencia</servlet-name>
        <url-pattern>/ControladorExperiencia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorOpinion</servlet-name>
        <url-pattern>/ControladorOpinion</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
