.header{
    width: 100%;
    min-height: 100vh;
    background-image: url(../img/inicio.png);
    background-size:100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;    
}

.container{
    background: pink;
    border-radius: 10px;
    padding:25px;
    margin-top: 50px;
}